<div id="banners-container-mobile" class="d-block d-md-none">
  <div id="carouselBannerMobile" class="banners-div carousel slide" data-ride="carousel">
    <ol class="carousel-indicators d-flex mb-1">
      <li data-target="#carouselBannerMobile" data-slide-to="0" class="active mr-2"></li>
      <li data-target="#carouselBannerMobile" data-slide-to="1" class="mr-2"></li>
      <li data-target="#carouselBannerMobile" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex justify-content-center align-items-center">
          <p class="text-banner-mobile mx-5">El regreso de la vida a la tierra</p>
          <img class="d-block w-100" src="/img/banner-mobile-1.jpg" alt="El regreso de la vida a la tierra">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center">
          <p class="text-banner-mobile mx-5">Tecnología única en el mundo a disposición de los agricultores</p>
          <img class="d-block w-100" src="/img/banner-mobile-2.jpg" alt="Tecnología única en el mundo a disposición de
                                                                  los agricultores">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center">
          <p class="text-banner-mobile mx-5">
            Nuestros equipos ahorran hasta el 50% de los combustibles y los costos de
            producción
          </p>
          <img class="d-block w-100" src="/img/banner-mobile-3.jpg" alt="Nuestros equipos ahorran hasta el 50% de los
                                                                      combustibles y los costos de producción">
        </div>
      </div>
    </div>

    <a class="carousel-control-prev" href="#carouselBannerMobile" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselBannerMobile" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div id="banners-container" class="d-none d-md-block">
  <div id="carouselBannerDesktop" class="banners-div carousel slide" data-ride="carousel">
    <ol class="carousel-indicators d-flex">
      <li data-target="#carouselBannerDesktop" data-slide-to="0" class="active mr-2"></li>
      <li data-target="#carouselBannerDesktop" data-slide-to="1" class="mr-2"></li>
      <li data-target="#carouselBannerDesktop" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex justify-content-center align-items-center">
          <p class="d-flex mx-5 px-5 text-banner">El regreso de la vida a la tierra</p>
          <img class="d-block w-100" src="/img/banner-1.jpg" alt="El regreso de la vida a la tierra">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center">
          <p class="d-flex mx-5 px-5 text-banner">Tecnología única en el mundo a disposición de los agricultores</p>
          <img class="d-block w-100" src="/img/banner-2.jpg" alt="Tecnología única en el mundo a disposición de
                                                                  los agricultores">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center align-items-center">
          <p class="d-flex mx-5 px-5 text-banner">
            Nuestros equipos ahorran hasta el 50% de los combustibles y los costos de
            producción
          </p>
          <p></p>
          <img class="d-block w-100" src="/img/banner-3.jpg" alt="Nuestros equipos ahorran hasta el 50% de los
                                                                combustibles y los costos de producción">
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselBannerDesktop" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselBannerDesktop" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
