<div id="contact-div" class="contact-container mt-4 mt-md-5 pt-md-5 mx-3 mx-md-0">
  <div class="contact-information w-100 w-md-50 mx-auto d-flex justify-content-center">
    <div>
      <div id="contact-desktop" class="d-none d-md-flex flex-column my-3">
        <p class="header d-flex justify-content-center mb-0">Contacto</p>
        <p class="description d-flex justify-content-center">Fetasa-ECOARADO: Emiliano Zapata,</p>
        <p class="description d-flex justify-content-center">80260 Culiacán Rosales,</p>
        <p class="description d-flex justify-content-center">Sinaloa. México.</p>
        <div class="d-flex flex-row justify-content-center">
          <p class="header mr-2">Email:</p>
          <p class="description">info@eco-arado.com</p>
        </div>
        <div class="d-flex flex-row justify-content-center">
          <p class="header mr-2">Teléfono:</p>
          <p class="description">+52 667 531 4339</p>
        </div>
        <div class="d-flex flex-row justify-content-center">
          <p class="header mr-2">Celular:</p>
          <p class="description">+52 311 262 3949</p>
        </div>
      </div>

      <div id="contact-mobile" class="d-flex flex-column d-md-none py-2">
        <p class="header d-flex justify-content-center mb-0">Contacto</p>
        <p class="description d-flex justify-content-center">Fetasa-ECOARADO: Emiliano</p>
        <p class="description d-flex justify-content-center">Zapata,</p>
        <p class="description d-flex justify-content-center">80260 Culiacán Rosales,</p>
        <p class="description d-flex justify-content-center">Sinaloa. México.</p>
        <div class="d-flex flex-row justify-content-center">
          <p class="header mr-2">Email:</p>
          <p class="description">info@eco-arado.com</p>
        </div>
        <div class="d-flex flex-row justify-content-center">
          <p class="header mr-2">Teléfono:</p>
          <p class="description">+52 667 531 4339</p>
        </div>
        <div class="d-flex flex-row justify-content-center">
          <p class="header mr-2">Celular:</p>
          <p class="description">+52 311 262 3949</p>
        </div>
      </div>
    </div>
  </div>

  <div class="d-none d-md-flex contact-image">
    <img class="w-100 h-100" src="/img/7.jpg" alt="Imagen de campo al fondo de la
                                                   caja de contacto de Ecoarado">
  </div>
</div>
