<div id="promotions-container" class="d-flex flex-column flex-md-row promotions-container justify-content-between
                                      pt-0 pt-md-5 mt-4 mt-md-5 mx-3 mx-md-5">
  <div class="w-md-32 mb-3 mb-md-0">
    <div class="square-div">
      <div class="square-container">
        <img class="w-100 h-100 promotion-img" src="/img/6.jpg"
             alt="Promoción-Oferta">
      </div>
    </div>
  </div>

  <div class="w-md-32 mb-3 mb-md-0">
    <div class="square-div">
      <div class="square-container">
        <img class="w-100 h-100 promotion-img" src="/img/4.jpg"
             alt="Promoción-Oferta">
      </div>
    </div>
  </div>

  <div class="w-md-32">
    <div class="square-div">
      <div class="square-container">
        <img class="w-100 h-100 promotion-img" src="/img/5.jpg"
             alt="Promoción-Oferta">
      </div>
    </div>
  </div>
</div>
