<div id="banners-container-mobile-contact-us" class="d-block d-md-none mt-3 w-75 mx-auto">
  <div class="banners-div-mobile-contact-us">
  </div>
</div>

<div id="banners-container-contact-us" class="d-none d-md-block w-75 mx-auto">
  <div class="banners-div-contact-us">
  </div>
</div>

<div class="d-flex flex-column w-75 mt-5 mt-md-5 mx-auto">
  <form id="form_contact_us">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputFullName">*Nombre y Apellidos</label>
        <input type="text" class="form-control" id="inputFullName" required>
      </div>
      <div class="form-group col-md-12">
        <label for="inputEmail">*Correo Electrónico</label>
        <input type="email" class="form-control" id="inputEmail" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputPhone">*Celular</label>
        <input type="tel" class="form-control" id="inputPhone" maxlength="10" required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputRegion">*Región</label>
        <input type="text" class="form-control" id="inputRegion" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCountry">*País</label>
        <input type="text" class="form-control" id="inputCountry" required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputCrop">*Tipo de Cultivo</label>
        <input type="text" class="form-control" id="inputCrop" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputIrrigation">*Tipo de Riego</label>
        <input type="text" class="form-control" id="inputIrrigation" required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputTractor">*Tipo de Tractor</label>
        <input type="text" class="form-control" id="inputTractor" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputTractorPower">*Potencia de su Tractor</label>
        <input type="text" class="form-control" id="inputTractorPower" required>
      </div>
      <div class="d-flex flex-column form-row col-md-6 mr-0 pr-0">
        <label for="inputDate">*Fecha y Hora para contactarlo</label>
        <div class="form-row ml-0">
          <div class="form-group col-md-6 mb-0">
            <input type="date" class="form-control" id="inputDate" required>
          </div>
          <div class="form-group col-md-6 mt-3 mb-3 mt-md-0 mb-md-0">
            <input type="time" class="form-control" id="inputTime" required>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group col-md-12 p-0">
      <label for="textareaMessage">*Mensaje</label>
      <textarea type="text" class="form-control" rows="3" id="textareaMessage" required></textarea>
    </div>

    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-green">Enviar</button>
    </div>
  </form>
</div>

