<div class="d-flex flex-column mx-5">
  <div class="w-50">
    <div id="banners-container" class="d-none d-md-block">
      <div id="carouselBannerDesktop" class="banners-div carousel" data-interval="false" data-ride="carousel">
        <div class="carousel-indicators d-flex flex-column justify-content-center left-images-container
                    align-items-center col-md-1 m-0 mb-5 pr-0">
          <div data-target="#carouselBannerDesktop" data-slide-to="0" class="justify-content-center active mb-2 cursor-hand">
            <img src="/img/model_ea2/test.jpg"/>
          </div>
          <div data-target="#carouselBannerDesktop" data-slide-to="1" class="mb-2 cursor-hand">
            <img src="/img/model_ea2/test.jpg"/>
          </div>
          <div data-target="#carouselBannerDesktop" data-slide-to="2" class="cursor-hand">
            <img src="/img/model_ea2/test.jpg"/>
          </div>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/img/model_ea2/modeloEA2.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/img/banner-2.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/img/banner-3.jpg" alt="Third slide">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column justify-content-center mx-auto w-md-50 mb-5 mb-md-0 mt-3 mt-md-3
              white-square">
    <h1 class="d-flex contact_us_title justify-content-center">Cotiza aquí</h1>
    <form id="form_model_ea2">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputFullName">*Nombre y Apellidos</label>
          <input type="text" class="form-control" id="inputFullName" required>
        </div>
        <div class="form-group col-md-12">
          <label for="inputEmail">*Correo Electrónico</label>
          <input type="email" class="form-control" id="inputEmail" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputPhone">*Celular</label>
          <input type="tel" class="form-control" id="inputPhone" maxlength="10" required>
        </div>
        <div class="form-group col-md-6">
          <label for="inputRegion">*Región</label>
          <input type="text" class="form-control" id="inputRegion" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCountry">*País</label>
          <input type="text" class="form-control" id="inputCountry" required>
        </div>
        <div class="form-group col-md-6">
          <label for="inputCrop">*Tipo de Cultivo</label>
          <input type="text" class="form-control" id="inputCrop" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputIrrigation">*Tipo de Riego</label>
          <input type="text" class="form-control" id="inputIrrigation" required>
        </div>
        <div class="form-group col-md-6">
          <label for="inputTractor">*Tipo de Tractor</label>
          <input type="text" class="form-control" id="inputTractor" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputTractorPower">*Potencia de su Tractor</label>
          <input type="text" class="form-control" id="inputTractorPower" required>
        </div>
        <div class="form-row col-md-6 mr-0 pr-0">
          <label for="inputDate">*Fecha y Hora para contactarlo</label>
          <div class="form-group col-md-6 mr-0 pr-0">
            <input type="date" class="form-control" id="inputDate" required>
          </div>
          <div class="form-group col-md-6 mr-0 pr-0">
            <input type="time" class="form-control" id="inputTime" required>
          </div>
        </div>
      </div>
      <div class="form-group col-md-12 p-0">
        <label for="textareaMessage">*Mensaje</label>
        <textarea type="text" class="form-control" rows="3" id="textareaMessage" required></textarea>
      </div>

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-green">Enviar</button>
      </div>
    </form>
  </div>
</div>

