<div class="d-flex justify-content-center mb-0 mt-3 mt-md-3">
  <h1 class="legal-title">Aviso de Privacidad</h1>
</div>

<div id="legal-content"><%=@legal_content%></div>

<div class="d-flex flex-column mx-5 text-justify">
  <p>
    En cumplimiento a lo establecido en la Ley Federal de Protección de Datos en Posesión de los Particulares,
    su Reglamento: Ecoarado SA de CV, ubicada en: FETASA  ECOARADO CULIACÁN MATRIZ Emiliano Zapata,
  80260 Culiacán Rosales, Sinaloa. México, emite el siguiente AVISO DE PRIVACIDAD, en los siguientes términos:
  </p>
  <p>
    Sus datos personales serán utilizados para las siguientes finalidades: formar una Base de Datos de
    prospectos de clientes, Información para cumplir las finalidades objeto de la solicitud del usuario,
    datos de contacto, para fines de facturación, contactar para cotizaciones y para envío de publicidad
    de la empresa, cumplir con la normatividad aplicable y requerimientos de las autoridades con base en
    Ley para el cumplimiento de las disposiciones legales y requerimientos de diversas autoridades, atender
    sus dudas, quejas y sugerencias como cliente y para cualquier finalidad análoga o compatible con las
    anteriores. Al proporcionarnos sus datos personales usted acepta y reconoce expresamente el contenido
    del presente Aviso de Privacidad, el cual podrá ser modificado de tiempo en tiempo por Ecoarado SA de CV.
  </p>
  <p>
    ¿Qué datos personales obtenemos y de dónde?: Para las finalidades señaladas en el presente aviso de
    privacidad, podemos recabar sus datos personales de distintas formas: cuando usted nos lo proporciona
    directamente a través del sitio de internet <span class="font-weight-bold">www.ecoaradoagro.com</span>;
    cuando nos los envía a través de correo
    electrónico y cuando obtenemos información a través de otras fuentes que están permitidas por la ley.
    Al proporcionarnos sus datos otorga su consentimiento expreso para que pueda acceder a los datos
    personales proporcionados los cuales serán utilizados únicamente para los fines que se han dejado
    precisados, adoptando los niveles de seguridad de protección de datos personales legalmente requeridos
    por Ley Federal de Protección de Datos Personales en Posesión de los Particulares, bajo los principios
    de licitud, calidad, consentimiento, información, finalidad, lealtad, proporcionalidad y responsabilidad.
  </p>
  <p>
    La veracidad de la información que proporcionó queda bajo su responsabilidad, por lo que Ecoarado SA de
    CV en ningún momento se hace responsable por la autenticidad de la misma, ni de daño o perjuicio, que
    surjan en relación con la utilización de la información proporcionada.
  </p>
  <p class="font-weight-bold">Medios para ejercer los derechos de acceso, rectificación, cancelación u
    oposición (ARCO)
  </p>
  <p>
    De igual forma podrá en cualquier momento que así lo estime oportuno, optar por acceder, rectificar,
    cancelar u oponerse respecto de los datos personales, para lo cual se pondrá en contacto a la siguiente
    dirección de correo electrónico <span class="font-weight-bold">info@ecoaradoagro.com</span> cumpliendo
    con el procedimiento y requisitos para procesar su solicitud, el cual estará sujeto a los dispuesto en
    la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.
  </p>
  <p class="font-weight-bold">Limitación del uso y/o Divulgación de sus datos</p>
  <p>
    Usted podrá limitar el uso o divulgación de sus datos personales enviando su solicitud a la dirección de
    correo electrónico <span>info@ecoaradoagro.com</span> En caso de que su Solicitud sea procedente se le
    registrará en el listado de exclusión propio de <span class="text-underline">Ecoarado SA de CV</span>
    Para mayor información favor de llamar a al teléfono +52 667 531 4339 o escribir al correo electrónico
    <span class="font-weight-bold">info@ecoaradoagro.com</span>.
  </p>
  <p>
    <span class="text-underline">Ecoarado SA de CV</span> se reserva el derecho a modificar el Aviso de
    Privacidad en cualquier momento, el cual estará vigente y a su disposición en el sitio web
    <span class="font-weight-bold">www.ecoaradoagro.com</span>.
  </p>
</div>
