<div class="d-flex justify-content-center my-3">
  <h1 class="legal-title">Términos y Condiciones</h1>
</div>

<div class="d-flex flex-column mx-5 text-justify">
  <p>
    Este contrato describe los términos y condiciones generales (en adelante únicamente "TÉRMINOS Y
    CONDICIONES") aplicables al uso de los contenidos, productos y servicios ofrecidos a través del
    sitio eco-arado.com (en adelante, "SITIO WEB"), del cual es titular <span class="text-underline">Ecoarado
    SA de SV</span>(en adelante, "TITULAR") quien tiene su domicilio establecido en  Sinaloa, en la siguiente
    dirección: FETASA ECOARADO CULIACÁN MATRIZ Emiliano Zapata, 80260 Culiacán Rosales, Sinaloa. México.
  </p>
  <p>
    Cualquier persona que desee acceder o hacer uso del sitio o los servicios que en él se ofrecen, podrá
    hacerlo sujetándose a los presentes TÉRMINOS Y CONDICIONES, así como a políticas y principios incorporados
    al presente documento. En todo caso, cualquier persona que no acepte los presentes términos y condiciones,
    deberá abstenerse de utilizar el SITIO WEB y/o adquirir los productos y servicios que en su caso sean
    ofrecidos. El objeto de los presentes TÉRMINOS Y CONDICIONES es regular el acceso y la utilización del
    SITIO WEB, entendiendo por éste cualquier tipo de contenido, producto o servicio que se encuentre a
    disposición del público en general dentro del dominio: <span>www.ecoaradoagro.com</span>.
  </p>
  <p>
    El TITULAR se reserva la facultad de modificar en cualquier momento y sin previo aviso, la presentación,
    los contenidos, la funcionalidad, los productos, los servicios, y la configuración que pudiera estar
    contenida en el SITIO WEB; en este sentido, el USUARIO reconoce y acepta que <span class="text-underline">
    Ecoarado SA de SV</span> en cualquier momento podrá interrumpir, desactivar o cancelar cualquiera de los
    elementos que conforman el SITIO WEB o el acceso a los mismos.
  </p>
  <p>
    El acceso al SITIO WEB por parte del USUARIO tiene carácter libre y, por regla general es gratuito sin que
    el USUARIO tenga que proporcionar una contraprestación para poder disfrutar de ello, salvo en lo referente
    al costo de la conexión a internet suministrada por el proveedor de este tipo de servicios que hubiere
    contratado el mismo USUARIO.
  </p>
  <p>
    El acceso a los contenidos y servicios facilitados a través del SITIO WEB no requerirá de suscripción o
    registro alguno.
  </p>
  <p>
    El SITIO WEB se encuentra dirigido exclusivamente a personas que cuenten con la mayoría de edad (mayores
    de 18 años); en este sentido,declina cualquier responsabilidad por el incumplimiento de este requisito.
  </p>
  <p>
    El SITIO WEB está dirigido principalmente a USUARIOS residentes en la República Mexicana, por lo cual,
    <span class="text-underline">Ecoarado SA de SV</span> no asegura que el SITIO WEB cumpla total o
    parcialmente con la legislación de otros países, de forma que, si el USUARIO reside o tiene su domicilio
    establecido en otro país y decide acceder o utilizar el SITIO WEB lo hará bajo su propia responsabilidad
    y deberá asegurarse de que tal acceso y navegación cumple con la legislación local que le es aplicable,
    no asumiendo <span class="text-underline">Ecoarado SA de SV</span> ninguna responsabilidad que se pueda
    derivar de dicho acto.
  </p>
  <p>
    Se hace del conocimiento del USUARIO que el TITULAR podrá administrar o gestionar el SITIO WEB de manera
    directa o a través de un tercero, lo cual no modifica en ningún sentido lo establecido en los presentes
    TÉRMINOS Y CONDICIONES.
  </p>
  <p class="font-weight-bold">II. DEL USUARIO.</p>
  <p>
    El acceso o utilización del SITIO WEB, así como de los recursos habilitados para interactuar entre los
    USUARIOS, o entre el USUARIO y el TITULAR tales como medios para realizar publicaciones o comentarios,
    confiere la condición de USUARIO del SITIO WEB, por lo que quedará sujeto a los presentes TÉRMINOS Y
    CONDICIONES, así como a sus ulteriores modificaciones, sin perjuicio de la aplicación de la legislación
    aplicable, por tanto, se tendrán por aceptados desde el momento en el que se accede al SITIO WEB. Dada
    la relevancia de lo anterior, se recomienda al USUARIO revisar las actualizaciones que se realicen a los
    presentes TÉRMINOS Y CONDICIONES.
  </p>
  <p>
    Es responsabilidad del USUARIO utilizar el SITIO WEB de acuerdo a la forma en la que fue diseñado; en
    este sentido, queda prohibida la utilización de cualquier tipo de software que automatice la interacción
    o descarga de los contenidos o servicios proporcionados a través del SITIO WEB. Además, el USUARIO se
    compromete a utilizar la información, contenidos o servicios ofrecidos a través del SITIO WEB de manera
    lícita, sin contravenir lo dispuesto en los presentes TÉRMINOS Y CONDICIONES, la moral o el orden público,
    y se abstendrá de realizar cualquier acto que pueda suponer una afectación a los derechos de terceros,
    o perjudique de algún modo el funcionamiento del SITIO WEB.
  </p>
  <p>
    <span class="text-underline">Ecoarado SA de SV</span> se reserva el derecho de retirar todos aquellos
    comentarios y aportaciones que vulneren la ley, el respeto a la dignidad de la persona, que sean
    discriminatorios, atenten contra los derechos de tercero o el orden público, o bien, que a su juicio
    no resulten adecuados para su publicación.
  </p>
  <p>
    En cualquier caso, <span>Ecoarado SA de SV</span> no será responsable de las opiniones vertidas por los
    USUARIOS a través de comentarios o publicaciones que estos realicen.
  </p>
  <p>
    El solo acceso al SITIO WEB no supone el establecimiento de ningún tipo de relación entre el TITULAR
    y el USUARIO.
  </p>
  <p>
    Al tratarse de un SITIO WEB dirigido exclusivamente a personas que cuenten con la mayoría de edad,
    el USUARIO manifiesta ser mayor de edad y disponer de la capacidad jurídica necesaria para sujetarse
    a los presentes TÉRMINOS Y CONDICIONES.
  </p>
  <p class="font-weight-bold">III. DEL ACCESO Y NAVEGACIÓN EN EL SITIO WEB</p>
  <p>
    El TITULAR no garantiza de ningún modo la continuidad y disponibilidad de los contenidos, productos o
    servicios ofrecidos a través del SITIO WEB, no obstante, el TITULAR llevará a cabo las acciones que de
    acuerdo a sus posibilidades le permitan mantener el buen funcionamiento del SITIO WEB, sin que esto
    suponga alguna responsabilidad de parte de <span>Ecoarado SA de SV</span>.
  </p>
  <p>
    De igual forma, <span class="text-underline">Ecoarado SA de SV</span>  no será responsable ni garantiza
    que el contenido o software al que pueda accederse a través del SITIO WEB, se encuentre libre de errores,
    software malicioso, o que pueda causar algún daño a nivel de software o hardware en el equipo a través
    del cual el USUARIO accede al SITIO WEB.
  </p>
  <p>
    El TITULAR tampoco se hace responsable de los daños que pudiesen ocasionarse por un uso inadecuado
    del SITIO WEB. En ningún caso <span class="text-underline">Ecoarado SA de SV</span> será responsable
    por las pérdidas, daños o perjuicios de cualquier tipo que surjan por el sólo acceso o utilización
    del SITIO WEB.
  </p>
  <p class="font-weight-bold">IV. POLÍTICA EN MATERIA DE PROPIEDAD INTELECTUAL E INDUSTRIAL</p>
  <p>
    <span class="text-underline">Ecoarado SA de SV</span> por sí o como parte cesionaria, es titular de
    todos los derechos de propiedad intelectual e industrial del SITIO WEB, entendiendo por este el código
    fuente que hace posible su funcionamiento así como las imágenes, archivos de audio o video, logotipos,
    marcas, combinaciones de colores, estructuras, diseños y demás elementos que lo distinguen. Serán, por
    consiguiente, protegidas por la legislación mexicana en materia de propiedad intelectual e industrial,
    así como por los tratados internacionales aplicables. Por consiguiente, queda expresamente prohibida la
    reproducción, distribución, o difusión de los contenidos del SITIO WEB, con fines comerciales, en
    cualquier soporte y por cualquier medio, sin la autorización de <span class="text-underline">Ecoarado SA
    de SV</span>.
  </p>
  <p>
    El USUARIO se compromete a respetar los derechos de propiedad intelectual e industrial del TITULAR.
    No obstante, además de poder visualizar los elementos del SITIO WEB podrá imprimirlos, copiarlos o
    almacenarlos, siempre y cuando sea exclusivamente para su uso estrictamente personal.
  </p>
  <p>
    Por otro lado, el USUARIO, se abstendrá de suprimir, alterar, o manipular cualquier elemento, archivo,
    o contenido, del SITIO WEB, y por ningún motivo realizará actos tendientes a vulnerar la seguridad,
    los archivos o bases de datos que se encuentren protegidos, ya sea a través de un acceso restringido
    mediante un usuario y contraseña, o porque no cuente con los permisos para visualizarlos, editarlos
    o manipularlos.
  </p>
  <p>
    En caso de que el USUARIO o algún tercero consideren que cualquiera de los contenidos del SITIO WEB
    suponga una violación de los derechos de protección de la propiedad industrial o intelectual, deberá
    comunicarlo inmediatamente a <span class="text-underline">Ecoarado SAde SV</span> a través de los datos
    de contacto disponibles en el propio SITIO WEB.
  </p>
  <p class="font-weight-bold">V. SOBRE LOS PRODUCTOS</p>
  <p>
    El TITULAR manifiesta que todos los modelos de equipos, disponibilidad y precios, están sujetos a cambio
    sin previo aviso en cualquier momento y para ello lo hace constar en estos TÉRMINOS Y CONDICIONES.
  </p>
  <p class="font-weight-bold">VI. LEGISLACIÓN Y JURISDICCIÓN APLICABLE</p>
  <p>
    Ecoarado SA de SV se reserva la facultad de presentar las acciones civiles o penales que considere
    necesarias por la utilización indebida del SITIO WEB, sus contenidos, productos o servicios, o por
    el incumplimiento de los presentes TÉRMINOS Y CONDICIONES.
  </p>
  <p>
    La relación entre el USUARIO y <span class="text-underline">Ecoarado SAde SV</span> se regirá por la
    legislación vigente en México, específicamente en Sinaloa. De surgir cualquier controversia en relación
    a la interpretación y/o a la aplicación de los presentes TÉRMINOS Y CONDICIONES, las partes se someterán
    a la jurisdicción ordinaria de los tribunales que correspondan conforme a derecho en el estado al que
    se hace referencia.
  </p>
</div>