<div class="d-flex w-25 flex-column justify-content-center mx-auto">
  <h2 class="mb-3">Autenticación</h2>

  <%= form_tag login_path do |f| %>
    <div class="form-group">
      <%= label_tag :username, 'Nombre de Usuario' %>
      <%= text_field_tag :username, '', autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag :password, 'Contraseña:' %>
      <%= password_field_tag :password, '', class: 'form-control' %>
    </div>

    <div class="d-flex">
      <%= submit_tag 'Entrar', class: 'btn btn-primary btn-lg ml-auto' %>
    </div>
  <% end %>
</div>