<div class="background-container">
  <div id="admin-container" class="d-flex">

    <div class="admin-menu mr-3">

      <div class="d-flex flex-row user-menu align-items-center pl-5">
        <div class="d-flex flex-column mt-4">
          <img src="/img/woman-user.png" class="mx-auto mb-1" alt="Imagen de Usuario">
          <h4 class="mx-auto">Bienvenida <%= username %></h4>
        </div>
        <div class="ml-5">
          <a href="/logout" class="d-flex flex-row align-items-center">
            <p class="mb-0 mr-1">Salir</p>
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </div>

      </div>

      <div class="d-flex flex-column content-menu mt-1 pb-4">
        <a href="#" class="admin-menu-link pl-5">Banners</a>

        <a href="#" class="admin-menu-link pl-5">Promociones</a>

        <a href="#" class="admin-menu-link pl-5">Productos</a>

        <a href="#" class="admin-menu-link pl-5">Artículos (Blog)</a>

        <a href="#" class="admin-menu-link pl-5">Imágenes de Artículos</a>

        <a href="#" class="admin-menu-link pl-5">Servicios</a>

        <a href="#" class="admin-menu-link pl-5">Encuentra tu distribuidor</a>

        <a href="#" class="admin-menu-link pl-5">Términos y condiciones</a>

        <a href="#" class="admin-menu-link pl-5">Aviso de Privacidad</a>

        <a href="#" class="admin-menu-link pl-5">Compañía</a>

        <a href="#" class="admin-menu-link pl-5">Misión</a>

        <a href="#" class="admin-menu-link pl-5">Visión</a>
      </div>
    </div>

    <div class="flex-grow-1 admin-body">
      <div class="d-flex">
        <h1>Banners Principales</h1>
      </div>

      <div class="mt-4">
        <h2>Agregar Banner</h2>
        <hr class="w-75 ml-0 mt-0" />
      </div>
    </div>
  </div>
</div>