<div class="d-flex flex-row mt-5 mb-3">
  <div class="d-flex mx-auto">
    <div>
      <h1 class="font-weight-bold text-dark">Administración</h1>
    </div>
  </div>

  <div class="mr-5">
    <span class="d-flex flex-row text-dark align-items-center">
      <h5 class="mr-2 mb-0 font-weight-bold">Salir</h5>
      <i class="fas fa-sign-out-alt"></i>
    </span>
  </div>
</div>
