<footer class="mt-3 mt-md-5 pt-md-5">
  <div class="footer-content pt-4 pb-md-5">
    <div class="d-flex flex-column flex-md-row w-100 justify-content-around">
      <div class="d-none d-md-flex w-30 pl-5 justify-content-center">
        <a href="/">
          <img src="/img/logo-blanco.png" alt="Logo">
        </a>
      </div>

      <div class="d-none d-md-flex w-30">
        <!-- Just for spacing-->
      </div>

      <div class="my-3 w-md-30 text-white align-self-center">
        <div class="mx-auto d-flex flex-row">
          <h2 class="d-none d-md-flex mr-4">Síguenos</h2>
          <a target="_blank" href="https://www.facebook.com/Eco-Arado-Oficial-111997177304886">
            <i class="fab fa-facebook-f white-color mr-4"></i>
          </a>
          <a target="_blank" href="https://twitter.com/ecoarado">
            <i class="fab fa-twitter white-color mr-4"></i>
          </a>
          <a target="_blank" href="https://www.linkedin.com/in/eco-arado-oficial-67743a1b6/">
            <i class="fab fa-linkedin-in white-color mr-4"></i>
          </a>
          <a target="_blank" href="https://www.youtube.com/channel/UCfxXOVQmUDHr8lqkSZkIE1A">
            <i class="fab fa-youtube white-color mr-md-4"></i>
          </a>
        </div>
      </div>

    </div>

    <div class="d-flex flex-column d-md-none nav-mobile">
      <ul class="navbar-nav mx-auto flex-column align-items-center">
        <li class="nav-item">
          <a class="nav-link py-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Biblioteca
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" href="/contact_us">
            Contacto
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" href="/privacy_policy">
            Aviso de Privacidad
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" href="/terms_and_conditions">
            Términos y condiciones
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Blog
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            FAQ
          </a>
        </li>
      </ul>
    </div>

    <div class="d-flex flex-row w-100 justify-content-around pb-md-5">

      <nav class="navbar navbar-expand-lg w-30">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mx-auto flex-column">
            <li class="nav-item mr-2">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                Biblioteca
              </a>
            </li>
            <li class="nav-item mr-2">
              <a class="nav-link" href="/contact_us">
                Contacto
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <nav class="navbar navbar-expand-lg w-30">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mx-auto flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/privacy_policy">
                Aviso de Privacidad
              </a>
            </li>
            <li class="nav-item mr-2">
              <a class="nav-link" href="/terms_and_conditions">
                Términos y condiciones
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <nav class="navbar navbar-expand-lg w-30">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mx-auto flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                Blog
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                FAQ
              </a>
            </li>
          </ul>
        </div>
      </nav>

    </div>
  </div>

  <div class="d-flex justify-content-center footer-inferior-ribbon">
    <div class="d-flex flex-column justify-content-center my-4 d-md-none text-white">
      <p class="d-flex mb-0 justify-content-center">Ecoarado SA de CV © Copyright 2020.</p>
      <p class="d-flex mb-0 justify-content-center">Todos los derechos reservados.</p>
    </div>
    <h4 class="d-none d-md-flex text-white mt-5">Ecoarado SA de CV © Copyright 2020.Todos los derechos
                                                reservados.
    </h4>
  </div>
</footer>
