<div class="d-flex flex-row mx-0 mx-md-5 align-items-center">
  <div class="logo-container w-25 d-none d-md-flex">
    <a href="/">
      <img src="/img/logo.png" alt="Logo" />
    </a>
  </div>

  <div class="d-flex d-md-none w-100">

    <nav class="navbar navbar-expand-lg navbar-light d-flex w-100 d-md-none py-0">
      <a class="navbar-brand w-75" href="/">
        <img src="/img/logo-mobile.png" class="w-100" alt="Logo" />
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#burger-menu"
              aria-controls="burger-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse mb-2" id="burger-menu">
        <div id="accordion">

          <div class="card">
            <div class="card-header">
              <a href="#">
                Quiénes Somos
              </a>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="products-header">
              <a href="#collapseProducts" data-toggle="collapse" data-target="#collapseProducts"
                 aria-expanded="true" aria-controls="collapseProducts">
                Productos
              </a>
            </div>

            <div id="collapseProducts" class="collapse"
                 aria-labelledby="products-header" data-parent="#accordion">
              <div class="card-body">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/product/model_ea2">
                      Modelo EA-2
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href='#'>
                      Modelo EA-3
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href='#'>
                      Modelo EA-4
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href='#'>
                      Modelo EA-5
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href='#'>
                      Modelo EA-6
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href='#'>
                      Modelo EA-7 Manual
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href='#'>
                      Modelo EA-7 Hidráulico
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href='#'>
                      Modelo EA-8 Hidráulico
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href='#'>
                      Modelo EA-9 Hidráulico
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="benefits-header">
              <a href="#collapseBenefits" data-toggle="collapse" data-target="#collapseBenefits"
                 aria-expanded="true" aria-controls="collapseBenefits">
                Beneficios
              </a>
            </div>

            <div id="collapseBenefits" class="collapse"
                 aria-labelledby="benefits-header" data-parent="#accordion">
              <div class="card-body">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href='#'>
                      Utilidad
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href='#'>
                      Certificaciones
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href='#'>
                      Biblioteca
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="services-header">
              <a href="#collapseServices" data-toggle="collapse" data-target="#collapseServices"
                 aria-expanded="true" aria-controls="collapseServices">
                Servicios
              </a>
            </div>

            <div id="collapseServices" class="collapse"
                 aria-labelledby="services-header" data-parent="#accordion">
              <div class="card-body">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href='#'>
                      Refacciones
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href='#'>
                      Envío
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href='#'>
                      Mantenimiento
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="distributor-header">
              <a href="#collapseDistributor" data-toggle="collapse" data-target="#ollapseDistributor"
                 aria-expanded="true" aria-controls="ollapseDistributor">
                Encuentra tu distribuidor
              </a>
            </div>

            <div id="ollapseDistributor" class="collapse"
                 aria-labelledby="distributor-header" data-parent="#accordion">
              <div class="card-body">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href='#'>
                      Estados Unidos
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href='#'>
                      México
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href='#'>
                      Puerto Rico
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href='#'>
                      América Latina
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href='#'>
                      Europa
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href='#'>
                      Asia
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <a href="#">
                Testimonios
              </a>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <a href="#">
                Blog
              </a>
            </div>
          </div>
        </div>

      </div>
    </nav>
  </div>

  <div class="d-none d-md-flex flex-column justify-content-end w-75">
    <div class="social-container d-flex justify-content-end">
      <a target="_blank" href="https://www.facebook.com/Eco-Arado-Oficial-111997177304886">
        <i class="fab fa-facebook-f fa-lg green-color mr-3"></i>
      </a>
      <a target="_blank" href="https://twitter.com/ecoarado">
        <i class="fab fa-twitter green-color mr-3"></i>
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/eco-arado-oficial-67743a1b6/">
        <i class="fab fa-linkedin-in green-color mr-3"></i>
      </a>
      <a target="_blank" href="https://www.youtube.com/channel/UCfxXOVQmUDHr8lqkSZkIE1A">
        <i class="fab fa-youtube green-color"></i>
      </a>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light mt-2 pr-0">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-1">
            <a class="nav-link menu-label font-weight-bold pr-0" href="#" id="navbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Quiénes Somos
            </a>
          </li>
          <li class="nav-item dropdown mr-1">
            <a class="nav-link dropdown-toggle menu-label font-weight-bold" href="#" id="navbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Productos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item label-item font-weight-bold" href="/product/model_ea2">Modelo EA-2</a>
              <a class="dropdown-item label-item font-weight-bold" href="#">Modelo EA-3</a>
              <a class="dropdown-item label-item font-weight-bold" href="#">Modelo EA-4</a>
              <a class="dropdown-item label-item font-weight-bold" href="#">Modelo EA-5</a>
              <a class="dropdown-item label-item font-weight-bold" href="#">Modelo EA-6</a>
              <a class="dropdown-item label-item font-weight-bold" href="#">Modelo EA-7 Manual</a>
              <a class="dropdown-item label-item font-weight-bold" href="#">Modelo EA-7 Hidráulico</a>
              <a class="dropdown-item label-item font-weight-bold" href="#">Modelo EA-8 Hidráulico</a>
              <a class="dropdown-item label-item font-weight-bold" href="#">Modelo EA-9 Hidráulico</a>
            </div>
          </li>
          <li class="nav-item dropdown mr-1">
            <a class="nav-link dropdown-toggle menu-label font-weight-bold" href="#" id="navbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Beneficios
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item label-item font-weight-bold" href="#">Utilidad</a>
              <a class="dropdown-item label-item font-weight-bold" href="#">Certificaciones</a>
              <a class="dropdown-item label-item font-weight-bold" href="#">Biblioteca</a>
            </div>
          </li>
          <li class="nav-item dropdown mr-1">
            <a class="nav-link dropdown-toggle menu-label font-weight-bold" href="#" id="navbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Servicios
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item label-item font-weight-bold" href="#">Refacciones</a>
              <a class="dropdown-item label-item font-weight-bold" href="#">Envío</a>
              <a class="dropdown-item label-item font-weight-bold" href="#">Mantenimiento</a>
            </div>
          </li>
          <li class="nav-item dropdown mr-1">
            <a class="nav-link dropdown-toggle menu-label font-weight-bold" href="#" id="navbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Encuentra tu distribuidor
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item label-item font-weight-bold" href="#">Estados Unidos</a>
              <a class="dropdown-item label-item font-weight-bold" href="#">México</a>
              <a class="dropdown-item label-item font-weight-bold" href="#">Puerto Rico</a>
              <a class="dropdown-item label-item font-weight-bold" href="#">América Latina</a>
              <a class="dropdown-item label-item font-weight-bold" href="#">Europa</a>
              <a class="dropdown-item label-item font-weight-bold" href="#">Asia</a>
            </div>
          </li>
          <li class="nav-item mr-1">
            <a class="nav-link menu-label font-weight-bold" href="#" id="navbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Testimonios
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-label font-weight-bold pr-0" href="#" id="navbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Blog
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

</div>