// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.background-container {
  background-image: repeating-linear-gradient(to right, #c2d7ec, #a3b7cc, #8498ac, #677a8d, #4b5d70);
  background-repeat: repeat-y !important;
  padding: 1.7rem;
  min-height: 100vh;
}

#admin-container {
  font-weight: 200;
  color: #333;
  background-color: white;
  box-shadow: 0 0 5px 0 black;

  .admin-menu {
    font-weight: 200 !important;
    width: 22%;
    box-sizing: border-box;

    a {
      font-size: 1.5rem;
      color: #333;
    }

    .admin-menu-link {
      padding-top: 1rem;
      padding-bottom: 1rem;
      width: 100%;
    }

    .admin-menu-link:hover {
      background-color: #eff3f6;
      font-weight: 400;
      text-decoration: none;
    }

    img {
      width: 6rem !important;
      height: 6rem !important;
    }

    h4 {
      font-size: 1.3rem;
    }
  }

  .admin-body {
    padding-top: 3.2rem;
    padding-left: 8rem;
    background-color: #F8FAFC;

    h1,h2,h3,h4,h5,h6 {
      font-weight: 200;
    }
  }
}
