/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Fonts */

/* Poppins */
@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-ExtraBold.ttf");
    font-weight: 800;
}

/* Lato */
@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Regular.ttf");
    font-weight: 400;
}

*:not(.fab):not(.fa):not(.fas) {
    font-family: 'Poppins', sans-serif !important;
}

#admin-container *:not(.fab):not(.fa):not(.fas) {
    font-family: 'Lato', sans-serif !important;
}
