// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.w-30 {
  width: 30% !important;
}

@media (min-width: 768px) {
  .w-md-30 {
    width: 30% !important;
  }
  .w-md-32 {
    width: 32% !important;
  }
  .w-md-50 {
    width: 50% !important;
  }
  #contact-div {
    padding-bottom: 18rem;
  }
}

.menu-label, .label-item {
  color: #424442 !important;
}

.menu-label:hover, .label-item:hover {
  color: #0B4F32 !important;
}

.green-color {
  color: #96C046;
}

.white-color {
  color: white;
}

#banners-container-mobile {
  width: 100%;
  padding-bottom: 80%;/* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */

  .carousel-control-prev-icon, .carousel-control-next-icon {
    visibility: visible;
    width: 2.5rem;
    height: 2.5rem;
    color: white;
  }
}

#banners-container {
  width: 100%;
  padding-top: 30%;/* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */

  .carousel-control-prev-icon, .carousel-control-next-icon {
    visibility: visible;
    width: 50px;
    height: 50px;
    color: white;
  }
}

.banners-div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.carousel-inner {
  height: 100%;
}

.text-banner {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 3.4rem;
  text-shadow: .2rem .2rem black;
  font-weight: 500;
}

.text-banner-mobile {
  @extend .text-banner;
  font-size: 1.6rem;
  text-shadow: .13rem .13rem black;
}

.carousel-indicators > li {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.social-container i {
  font-size: 2rem;
}

.square-div {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.square-container {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#promotions-container .text-white {
  color: white;
  font-size: 3rem;
  font-family: 'Poppins-ExtraBold', sans-serif !important;
  font-weight: bold;
}

.promotion-img {
  border-radius: 3.5%;
}

#contact-div {
  position: relative;

  .contact-information {
    background-color: #0B4F32;
    color: white;
    border-radius: 1rem;
  }

  .header {
    font-weight: 700;
  }

  .description {
    font-weight: 200;
  }

  p {
    margin-bottom: 0;
  }

  .contact-image {
    position: absolute;
    top: 11rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

#contact-desktop {
  .header {
    font-size: 2.15rem;
    line-height: 2.5rem;
  }

  .description {
    font-size: 2rem;
    line-height: 2.5rem;
    padding-top: .075rem;
  }

}

#contact-mobile {
  .header {
    font-size: 1.25rem;
  }

  .description {
    font-size: 1.25rem;
  }

  p {
    margin-bottom: 0;
  }

}

$footer-font-size: 2rem;

footer {
  .footer-content {
    background-color: #008439;

    .navbar {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .fab {
      font-size: $footer-font-size;
    }

    h2 {
      font-size: $footer-font-size;
    }
  }

  a {
    font-size: 1.7rem;
  }

  .nav-link {
    color: white;
    font-size: $footer-font-size !important;
  }

  .nav-mobile a {
    font-size: 1.25rem !important;
  }

  .footer-inferior-ribbon {
    background-color: #0f593b;
    padding-bottom: 7.5rem;
  }
}

#accordion {
  a {
    @extend .menu-label;
    font-weight: bold;
  }

  .card {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }

  .card-header {
    background-color: white;
  }

  .card-body {
    padding-top: .25rem!important;
    padding-bottom: .25rem!important;
  }

  ul {
    padding-left: 1.3em;
  }

  .nav-link {
    padding-bottom: 0;
    padding-top: 0.25rem;
  }
}

.text-underline {
  text-decoration: underline;
}

.legal-title {
  color: #a1be51;
}

@media (max-width: 768px) {
  .legal-title {
    text-align: center;
    font-size: 1.6rem;
  }
}

.white-square {
  border: 1px solid #a1be51;
  background-color: white;
  padding: 10px;
  box-shadow: 15px 15px #a1be51;
}

#banners-container-contact-us {
  width: 100%;
  padding-top: 10%;
  position: relative;
}

#banners-container-mobile-contact-us {
  width: 100%;
  padding-top: 40%;
  position: relative;
}

.banners-div-mobile-contact-us {
  @extend .banners-div;
  background-image: url("/img/contact-us-mobile.png");
  background-size: cover;
  background-position: center;
}

.banners-div-contact-us {
  @extend .banners-div;
  background-image: url("/img/contact-us.png");
  background-size: cover;
  background-position: center;
}

.contact_us_title {
  color: #0B4F32;
}

#form_contact_us, #form_model_ea2 {

  input, textarea {
    border-color: #a1be51 !important;
  }

  .btn-green {
    color: white;
    background-color: #a1be51;
    border-color: #a1be51;
  }

  label {
    color: #0B4F32;
  }
}