<%= form_with(model: main_banner, local: true) do |form| %>
  <% if main_banner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(main_banner.errors.count, "error") %> prohibited this main_banner from being saved:</h2>

      <ul>
        <% main_banner.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :order %>
    <%= form.number_field :order %>
  </div>

  <div class="field">
    <%= form.file_field :photo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
