<p id="notice"><%= notice %></p>

<h1>Main Banners</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @main_banners.each do |main_banner| %>
      <tr>
        <td><%= main_banner.title %></td>
        <td><%= main_banner.order %></td>
        <td><%= link_to 'Show', main_banner %></td>
        <td><%= link_to 'Edit', edit_main_banner_path(main_banner) %></td>
        <td><%= link_to 'Destroy', main_banner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Main Banner', new_main_banner_path %>
