<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @main_banner.title %>
</p>

<%= image_tag(@main_banner.photo, width: 200) if @main_banner.photo.attached? %>

<p>
  <strong>Order:</strong>
  <%= @main_banner.order %>
</p>

<%= link_to 'Edit', edit_main_banner_path(@main_banner) %> |
<%= link_to 'Back', main_banners_path %>
